<h2>Deine Assoziationen <small>neueste zuerst</small></h2>

<ul class="list-unstyled list-assoziation">
<% @all_asses.each do |userass| %>
  <% ass = userass.assoziation %>
  <li><%= assoziation_to_html(ass, {
    badge_text: ass.created_at.strftime("%Y-%m-%d"),
    button_classes: nil}) %>
  </li>
<% end %>
</ul>
<%= will_paginate @all_asses, {:params => {anchor: 'all'}} %>