<h1>Alle Assoziationen</h1>
 
<table>
  <tr>
  	<th>Ding 1</th>
    <th>Ding 2</th>
    <th>Häufigkeit</th>
  </tr>
<% @asses.each do |ding_ids, count| %>
  <% ding_eins = Ding.find(ding_ids[0]) %>
  <% ding_zwei = Ding.find(ding_ids[1]) %>
  <tr>
    <td><%= link_to ding_eins.name, ding_eins %></td>
    <td><%= link_to ding_zwei.name, ding_zwei %></td>
    <td><%= count %></td>
  </tr>
<% end %>
</table>