
<div class="page-header">
  <h1>Willkommen</h1>
</div>
<% if UserAssoziation.where(user: current_user).count < 10 %>
Füge ein paar Assoziation hinzu, damit wir dir Assoziationen vorschlagen können. Als Inspiration kannst du dir <%= link_to :hier, assoziations_path %> Assoziationen anderer anschauen oder <%= link_to :hier, dings_path %> die am häufigsten assoziierten Dinge.
<% else %>
Wir empfehlen dir, die Assoziationen der folgenden Benutzer anzuschauen:
	<ul>
	<% current_user.get_agreement.first(5).each do |agreement| %>
		<% user = User.find(agreement["user2_id"]) %>
		<li><%= link_to user.email, :controller => :assoziations, :action => :index, :user_id => user.id %> <%= badge(number_to_percentage(agreement["agreement"]*100), :warning) %></li>
	<% end %>
	<ul>
<% end %>