<h1><%= I18n.t("kategories.index.alle_kategorien") %></h1>
 
<table>
  <tr>
    <th><%= I18n.t("kategories.index.name") %></th>
  </tr>
 
<% @kats.each do |kat| %>
  <tr>
    <td><%= link_to kat.name, kat %></td>
  </tr>
<% end %>
</table>
