<h1>Alle Dinge</h1>
 
<table>
  <tr>
  	<th>DingID</th>
    <th>Name</th>
  </tr>
 
<% @dings.each do |ding| %>
  <tr>
  	<td><%= ding.id %></td>
    <td><%= link_to ding.name, ding %></td>
  </tr>
<% end %>
</table>