<h1>Meist assoziierte Dinge</h1>

<ul class="nav nav-list">
<% @pop_dings.each do |pop_ding| %>
	<% ding = Ding.find(pop_ding["ding_id"]) %>
	<li>
	    <ul class="list-inline">
	        <li><%= glyph(:link) %></li>
	        <li><%= link_to ding.name, ding %></li>
	        <li><%= badge(pop_ding["count"], :warning) %></li>
	    </ul>
	</li>
<% end %>
</ul>
