/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/autocomplete
 *= require_tree .
 *= require fancybox
 *= require font-awesome
 *= require_self
 */

/* @import 'base/epiceditor'; */

.welcome-jumbotron {
	/*background-image: url("/assets/netding_banner.png");
    background-size: cover;*/
}

.assoz-jumbotron {
	/*background-image: url("/assets/netding_assoz.png");
    background-size: cover;*/
}

.image-jumbotron {
	background-size: cover;
}

.image-jumbotron {
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn-ding {
	padding: 0px 0px;
}

.btn-ding > .list-inline {
	margin-left: 0px;
}

.list-ding > li {
	padding-bottom: 3px;
}

.btn-assoziation {
	padding: 3px 5px;
}



.btn-assoziation > .list-inline > li {
	padding-left: 3px;
	padding-right: 3px;
}

.list-assoziation > li {
	padding-bottom: 3px;
}

.list-assoziation > li > a > .list-inline > li {
	padding-left: 2px;
	padding-right: 2px;
}

@media (max-width: 500px) {
	.text-responsive {
		display: none;
	}
}